body {
  background-image: url("backGroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: white;
  background-color: black;
}

#closeBox {
  height: 150px;
  width: 200px;
  margin-left: 535px;
}
